<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd">
						
	<!-- 读取jdbc属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>

	<!-- 数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/work9"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
		<!-- <property name="initialPoolSize" value="${initialPoolSize}"></property>
		<property name="maxPoolSize" value="${maxPoolSize}"></property>
		<property name="minPoolSize" value="${minPoolSize}"></property> -->
	</bean>
	
	<!-- 配置spring整合hibernate框架的本地会话工厂bean -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- 注入hibernate属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<!-- 自动建表 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- 在控制台显示SQL -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化SQL -->
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<!-- 注入hbm映射文件 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:cn/itcast/oa/domain</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 事务通知 -->
	<!-- 事务属性 -->
	<!--
	<tx:advice id="oa_advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="find*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* cn.itcast.oa.service.*.*(..))" id="oa_PC"/>
		<aop:advisor advice-ref="oa_advice" pointcut-ref="oa_PC"/>
	</aop:config>
	-->
	
	<!-- 组件扫描 -->
	<context:component-scan base-package="cn.itcast.oa"/>
	<!-- 支持注解 -->
	<context:annotation-config/>
	<!-- 事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>